@charset "UTF-8";

/* em HTML é id = em CSS é #
   em HTML é class = em CSS é . */

body {
    background-color: rgb(205, 237, 205);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgba(41, 74, 9, 0.578)
}

#principal {
    text-align: center;
    background-color: rgba(27, 109, 27, 0.516);
    color: white
}

h2 {
    color:rgb(76, 149, 3)
}

.basico {
    color: rgb(76, 149, 3);
    font-weight: bold;         /* negrito*/
}

.intermediario {
    color: rgb(241, 207, 15);
}

.avancado {
    color: rgb(214, 18, 18)
}